table {
  width: 100%;
}

th {
  width: 50%;
}
mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.category {
  width: 50%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.loading-spinner {
  padding: 25px;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}
